h1{
    border: 68px;
    background-color: blueviolet;
    text-align: center;

}

nav{
    nav-up: auto;
    text-align: right
    
}
div p{
    text-align: center;
    width: 200pt;
    height: 200pt;
    border: 20pt;

 background-color: rgb(44, 147, 216);
}